<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </configSections>

    <appSettings>
      <!--conexion a DB-->
      <add key="Nombre" value="Comercial"/>
      <add key="Serv" value=""/>
      <add key="Puert" value="1433"/>
      <add key="DB" value="Crocodylus"/>
      <add key="Usu" value="CasaBonita"/>
      <add key="Contr" value="Pr0pietario321*,.-"/>

      <!--conexion a DB 1-->
      <add key="Nombre1" value="Comercial1"/>
      <add key="Serv1" value=""/>
      <add key="Puert1" value="1433"/>
      <add key="DB1" value=""/>
      <add key="Usu1" value=""/>
      <add key="Contr1" value=""/>

      <!--conexion a DB 2-->
      <add key="Nombre2" value="Decoralia2"/>
      <add key="Serv2" value=""/>
      <add key="Puert2" value="1433"/>
      <add key="DB2" value=""/>
      <add key="Usu2" value=""/>
      <add key="Contr2" value=""/>
    </appSettings>

   <connectionStrings>
        <add name="Comercial" connectionString="Data Source=GERENCIA-VAIO;Initial Catalog=Crocodylus;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Comercial1" connectionString="" providerName="System.Data.SqlClient"/>
        <add name="Decoralia2" connectionString="" providerName="System.Data.SqlClient"/>
    </connectionStrings>

<entityFramework>
<providers>
<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
</providers>
</entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
