<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GRTechnology1._0.ConfigGRTech" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="GRTechnology1._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Crocodylus1._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GRTechnology1._0.ConfigGRTech" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--conexion a DB-->
    <add key="Nombre" value="Comercial"/>
    <add key="Serv" value=""/>
    <add key="Puert" value="1433"/>
    <add key="DB" value=""/>
    <add key="Usu" value=""/>
    <add key="Contr" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!--conexion a DB 1-->
    <add key="Nombre1" value="Local"/>
    <add key="Serv1" value=""/>
    <add key="Puert1" value="1433"/>
    <add key="DB1" value=""/>
    <add key="Usu1" value=""/>
    <add key="Contr1" value=""/>

  </appSettings>
  <connectionStrings>
    <add name="Comercial" connectionString="Data Source=Sistemas;Initial Catalog=Crocodylus;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Local" connectionString="Server=localhost\SQLEXPRESS;Database=master;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <GRTechnology1._0.ConfigGRTech>
      <setting name="NomUsu" serializeAs="String">
        <value />
      </setting>
      <setting name="PassUsu" serializeAs="String">
        <value />
      </setting>
      <setting name="RecodarPass" serializeAs="String">
        <value>False</value>
      </setting>
    </GRTechnology1._0.ConfigGRTech>
    <GRTechnology1._0.Properties.Settings>
      <setting name="NomImgFondo1" serializeAs="String">
        <value>fondocbonita.png</value>
      </setting>
      <setting name="NomImgFondo2" serializeAs="String">
        <value>fondodecoralia.jpg</value>
      </setting>
      <setting name="NomImgFondo3" serializeAs="String">
        <value>fondo.jpg</value>
      </setting>
      <setting name="ImpPredeterminada" serializeAs="String">
        <value />
      </setting>
      <setting name="RutaSistemaActualizador" serializeAs="String">
        <value>E:\Proyectos\ACTUALIZADOR\Actualizador\Actualizador\bin\Debug\Actualizador.exe</value>
      </setting>
      <setting name="Display_COM" serializeAs="String">
        <value />
      </setting>
      <setting name="Display_BaudRate" serializeAs="String">
        <value />
      </setting>
      <setting name="Display_Habil" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NomUsu" serializeAs="String">
        <value />
      </setting>
      <setting name="PassUsu" serializeAs="String">
        <value />
      </setting>
      <setting name="RecodarPass" serializeAs="String">
        <value>False</value>
      </setting>
    </GRTechnology1._0.Properties.Settings>
    <Crocodylus1._0.Properties.Settings>
      <setting name="NomImgFondo1" serializeAs="String">
        <value>fondocbonita.png</value>
      </setting>
      <setting name="NomImgFondo2" serializeAs="String">
        <value>fondodecoralia.jpg</value>
      </setting>
      <setting name="NomImgFondo3" serializeAs="String">
        <value>fondo.jpeg</value>
      </setting>
      <setting name="ImpPredeterminada" serializeAs="String">
        <value/>
      </setting>
    </Crocodylus1._0.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <GRTechnology1._0.ConfigGRTech>
      <setting name="Formato_Impr_Nota_Venta" serializeAs="String">
        <value>MEDIA CARTA</value>
      </setting>
      <setting name="Impr_Aut_Nota_Venta" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ubicación_Sistem_Actualizador" serializeAs="String">
        <value>E:\Proyectos\ACTUALIZADOR\Actualizador\Actualizador\bin\Debug\Actualizador.exe</value>
      </setting>
      <setting name="Display_COM" serializeAs="String">
        <value />
      </setting>
      <setting name="Display_BaudRate" serializeAs="String">
        <value />
      </setting>
    </GRTechnology1._0.ConfigGRTech>
  </applicationSettings>
</configuration>
